.navbar-header {
  margin: 5px;
  border-radius: 10px;
  width: 1000px;
  background-color: #2b1841;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.3);
}

.navbar-button {
  background-color: #382550;
  border-color: honeydew;
}

.navbar-button:hover {
  background-color: #2f2041;
  border-color: honeydew;
}
