.navbar-header {
  /* width: 1000px;
  border-radius: 15px;
  align-self: center; */
  background-color: #2b1841;
}

.navbar-button {
  background-color: #382550;
  border-color: honeydew;
}

.navbar-button:hover {
  background-color: #2f2041;
  border-color: honeydew;
}
